{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>TICKET SERVICE</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Welcome to MiNi GeNiE with GoLang</h1>   
{{ end }}
